[Unit]
Description=Refresh latest terminal statistics

[Service]
Type=oneshot
User=terminals
Group=terminals
ExecStart=/usr/local/bin/refresh-termstats

[Install]
WantedBy=multi-user.target
